<div style="display:flex; justify-content:center; align-items:center; height:100vh" class="auth_img">
 <div class="fade_dark"></div> 
  <div class="row box">
      
      <div class="col s12 m6 l6 border">
        <div class="card-panel card_1">
          <div>
            <img src="../../assets/f1.svg" width="70" alt="" />
            <h4 class="white-text ">Welcome to the online flight portal. </h4>
            <p  class="white-text">Gain Insight with Various Flight Data across 10 different cities</p>
          </div>
        </div>
      </div>
        <div class="col s12 m6 l6 border">
        <div class="card-panel card_2 white lighten-2">
  
            <div class="row">
                <div class="col s12 m2 l2"></div>
              <div class="col s12 m10 l12 ">
                
                    <h5  class="blue-text ">Please login </h5>
                      <span *ngIf="errors" class="alert_pss">{{errors}}</span>


                      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
                          <div class="row">
                              <div class="input-field col s12">
                                <input id="email" type="email" formControlName="user" class="validate black-text">
                                <label for="email white-text">Email</label>
                              </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                  <input id="password" type="password" formControlName="password" class="validate black-text">
                                  <label for="password white-text">Password</label>
                                </div>
                              </div>
                              <div class="row">
                                  <button type="submit"  class="waves-effect waves-light btn-large red"><i class="material-icons right">send</i>Login</button>
                                </div>  
                        </form>
              </div>
            </div>
          
          
  
  
        </div>
  
      </div>
      <div class="col s12 m3 l2"></div>
    </div>
</div>
